<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/build.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <div class="flex flex-row">
        <div id="serverList" class="flex flex-col min-h-screen border-r">
            <ul class="menu p-0">
                {% for item in user.servers.all%}
                <li>
                    <c-server-icon :server="item" />
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="channelList" class="flex flex-col min-h-screen border-r min-w-75">
            {% include "channels.html" %}
        </div>
        <div id="messageList" class="flex grow">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>