{% load lucide %}
<!doctype html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/build.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script defer src="{% static 'js/script.js' %}"></script>
    <title>callapp</title>
  </head>
  <body hx-headers='{"x-csrftoken": "{{csrf_token}}"}'>
    {% block content %} {% endblock %}
  </body>
  <section id="templates">
    <template id="messageTemplate">
      <div class="flex flex-row">
        <c-avatar img="/imgurl" />
        <div class="flex flex-col">
          <p
            id="messageTemplateUsername"
            class="text-base leading-5 opacity-70"
          >
            username
          </p>
          <p id="messageTemplateContent" class="text-base leading-5">message</p>
        </div>
      </div>
    </template>
  </section>
  <section id="modals">
    <dialog id="newServerModal" class="modal">
      <div class="modal-box">
        <form action="/createserver/" method="post">
          {% csrf_token %}
          <label for="servername" class="input">
            sunucu adı:
            <input name="{{ server_form.name.html_name }}" type="text" />
          </label>
          <button type="submit" class="btn btn-ghost">ekle</button>
        </form>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
    <dialog id="newChannelModal" class="modal">
      <div class="modal-box">
        <form action="createchannel/" method="post">
          {% csrf_token %}
          <label for="servername" class="input">
            kanal adı:
            <input name="{{ channel_form.name.html_name }}" type="text" />
          </label>
          <button type="submit" class="btn btn-ghost">ekle</button>
        </form>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
    <dialog id="addFriendModal" class="modal">
      <div class="modal-box">
        <form action="add-friend/" method="post">
          {% csrf_token %}
          <label for="friend_name" class="input">
            Kullanıcı adı:
            <input name="friend_username" type="text" />
          </label>
          <button type="submit" class="btn btn-ghost">ekle</button>
        </form>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
    <dialog id="login" class="modal">
      <div class="modal-box">
        <div class="flex min-h-full min-w-full justify-center">
          <form
            action="/login/"
            method="post"
            class="form min-h-40 max-w-125 min-w-125 self-center pt-3 pr-4 pb-3 pl-4"
          >
            <div class="flex flex-col gap-1 border p-4">
              {%csrf_token%}
              <label class="input validator min-w-full">
                {% lucide "user" class="opacity-50" size="21" %}
                <input
                  type="text"
                  required
                  placeholder="Kullanıcı Adı"
                  pattern="[A-Za-z][A-Za-z0-9\-]*"
                  minlength="3"
                  maxlength="30"
                  title="kelime 3 ile 30 karakter arasında olmalı, sadece harf, rakam veya tire içerebilir"
                  name="{{ form.username.html_name }}"
                  id="{{ form.username.html_name }}"
                  value="{{ form.username.value|default:''}}"
                />
              </label>
              <p class="validator-hint hidden">
                Kelime 3 ile 30 karakter arasında olmalı sadece harf, rakam veya
                tire içerebilir
              </p>
              <label class="input validator mt-2 min-w-full">
                {% lucide "key-square" class="opacity-50" size="21" %}
                <input
                  type="password"
                  required
                  placeholder="Şifre"
                  minlength="8"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  title="8 karakterden uzun olmalı, en az bir rakam, bir küçük harf ve bir büyük harf içermelidir"
                  name="{{ form.password.html_name }}"
                  id="{{ form.password.html_name }}"
                />
              </label>
              <p class="validator-hint hidden">
                8 karakterden uzun olmalı en az bir rakam bir küçük harf ve bir
                büyük harf içermelidir
              </p>
              <br />
              <button type="submit" class="btn btn-active mt-2">
                Giriş Yap
              </button>
            </div>
          </form>
        </div>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
    <dialog id="register" class="modal">
      <div class="modal-box">
        <div class="flex min-h-full min-w-full justify-center">
          <form
            action="/register/"
            method="post"
            class="form min-h-40 max-w-125 min-w-125 self-center pt-3 pr-4 pb-3 pl-4"
          >
            <div class="flex flex-col gap-1 border p-4">
              {%csrf_token%}
              <label class="input validator min-w-full">
                {% lucide "user" class="opacity-50" size="21" %}
                <input
                  type="text"
                  required
                  placeholder="Kullanıcı Adı"
                  pattern="[A-Za-z][A-Za-z0-9\-]*"
                  minlength="3"
                  maxlength="30"
                  title="kelime 3 ile 30 karakter arasında olmalı, sadece harf, rakam veya tire içerebilir"
                  name="{{ form.username.html_name }}"
                  id="{{ form.username.html_name }}"
                  value="{{ form.username.value|default:''}}"
                />
              </label>
              <p class="validator-hint hidden">
                Kelime 3 ile 30 karakter arasında olmalı sadece harf, rakam veya
                tire içerebilir
              </p>
              <label class="input validator mt-2 min-w-full">
                {% lucide "key-square" class="opacity-50" size="21" %}
                <input
                  type="password"
                  required
                  placeholder="Şifre"
                  minlength="8"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  title="8 karakterden uzun olmalı, en az bir rakam, bir küçük harf ve bir büyük harf içermelidir"
                  name="{{ form.password1.html_name }}"
                  id="{{ form.password1.html_name }}"
                />
              </label>
              <p class="validator-hint hidden">
                8 karakterden uzun olmalı en az bir rakam bir küçük harf ve bir
                büyük harf içermelidir
              </p>
              <label class="input validator mt-2 min-w-full">
                {% lucide "key-square" class="opacity-50" size="21" %}
                <input
                  type="password"
                  required
                  placeholder="Şifre Tekrar"
                  minlength="8"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  title="8 karakterden uzun olmalı, en az bir rakam, bir küçük harf ve bir büyük harf içermelidir"
                  name="{{ form.password2.html_name }}"
                  id="{{ form.password2.html_name }}"
                />
              </label>
              <p class="validator-hint hidden">
                8 karakterden uzun olmalı en az bir rakam bir küçük harf ve bir
                büyük harf içermelidir
              </p>
              <br />
              <button type="submit" class="btn btn-active mt-2">
                Kayıt Ol
              </button>
            </div>
          </form>
        </div>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  </section>
</html>
