{% extends "index.html" %}{% partialdef content %}
<ul class="menu w-full p-0">
  {% for item in current_server.channels.all%}
  <li class="grow">
    <a
      href="/channel/{{item.server.id}}/{{item.id}}/"
      class="text-base font-medium"
      hx-get="/channel/{{item.server.id}}/{{item.id}}/"
      hx-target="#messageList"
      hx-swap="innerHTML"
      hx-push-url="true"
      >{{item.name}}</a
    >
  </li>
  {% endfor %}
  <li>
    <button class="btn btn-ghost" data-modal="newChannelModal">
      kanal ekle
    </button>
  </li>
</ul>
<!--prettier-ignore-->
{% endpartialdef %} {% block sidebar %} {% partial content %} {% endblock %}
{% block main %} {% endblock %}
