{% extends "base.html" %} {% block content %} {% load lucide %}
<div class="flex flex-row">
  <div id="serverList" class="flex min-h-screen flex-col border-r">
    <ul class="menu p-0">
      <li class="">
        <div class="tooltip tooltip-right" data-tip="Profil">
          <a
            href="/profile/"
            class="flex flex-col"
            hx-get="/profile/"
            hx-target="#channelList"
            hx-swap="innerHTML"
            hx-push-url="true"
          >
            {% lucide "user" size="40" %}
          </a>
        </div>
      </li>
      {% for item in user.servers.all%}
      <li>
        <c-server-icon :server="item" />
      </li>
      {% endfor %}
      <li>
        <div
          class="tooltip tooltip-right px-3 py-1.5"
          data-tip="Sunucu oluştur"
        >
          <button class="flex flex-col" data-modal="newServerModal">
            {% lucide "message-circle-plus" size="40" %}
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div id="channelList" class="flex h-dvh min-w-75 flex-col border-r">
    {% block sidebar %} {% endblock %}
  </div>
  <div id="messageList" class="flex h-dvh grow flex-col">
    {% block main %} {% endblock %}
  </div>
</div>
{% endblock %}
