{% extends "channels.html" %}{% partialdef content %} {% load lucide %}
<div class="flex h-full flex-col">
  <div class="flex-1 overflow-y-auto">
    <div id="messages" class="flex min-h-full flex-col justify-end">
      {% for item in current_channel.messages.all%}
      <div class="flex flex-row">
        <c-avatar :img="item.user.avatar.url" />
        <div class="flex grow flex-col">
          <p class="text-base leading-5 opacity-70">{{item.user.username}}</p>

          <p class="text-base leading-5">{{item.message}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="m-2 mt-2 flex-none">
    <form
      id="messageForm"
      class="flex flex-row"
      hx-post="message/"
      hx-swap="none"
    >
      <textarea
        id="messageInput"
        class="input grow"
        name="{{ message_form.message.html_name }}"
      ></textarea>
      <button id="messageSubmit" type="submit" class="btn btn-primary">
        gönder
      </button>
    </form>
  </div>
</div>

{% endpartialdef %} {% block main %} {% partial content %} {% endblock %}
