{% for i in notifs %} {% load lucide %}
<li>
  <form action="friendship-response/" method="post" class="flex flex-col">
    {% csrf_token %}
    <input type="hidden" name="requester_username" value="{{i.username}}" />
    <span class="w-50">Gelen arkadaşlık isteği: {{i.username}}</span>
    <div class="flex flex-row">
      <button name="action" value="accept" class="btn btn-circle h-5">
        {% lucide "check" size="20" %}
      </button>
      <button name="action" value="reject" class="btn btn-circle h-5">
        {% lucide "x" size="20" %}
      </button>
    </div>
  </form>
</li>
{% endfor %}
