{% extends "index.html" %}{% partialdef content %}{% load lucide %}
<ul class="menu w-full p-0">
  <!--
  <form action="">
    <label for="search" class="input">
      <input name="search" type="search" placeholder="Arkadaşını bul" />
      <button class="btn btn-ghost btn-circle h-8">
        {% lucide "search" %}
      </button>
    </label>
  </form>
  -->
  {% if friend_list %} {% for item in friend_list%}
  <li>
    <div class="flex flex-row justify-between">
      <a
        href="/channel/friends/{{item.channel_id}}/"
        class="absolute inset-0 z-10 flex grow text-base font-medium"
        hx-get="/channel/friends/{{item.channel_id}}/"
        hx-target="#messageList"
        hx-swap="innerHTML"
        hx-push-url="true"
      >
      </a>
      {{item.username}}
      <button
        onclick="callUser({{item.id}})"
        class="btn btn-circle btn-ghost btn-success z-20 h-6 w-6"
      >
        {% lucide "phone-call" %}
      </button>
    </div>
  </li>
  {% endfor %} {% endif %}
  <li>
    <button class="btn btn-ghost" data-modal="addFriendModal">
      Arkadaş ekle
    </button>
  </li>
</ul>
<!--prettier-ignore-->
{% endpartialdef %} {% block sidebar %} {% partial content %} {% endblock %}
{% block main %} {% endblock %}
