<dialog id="addFriendModal" class="modal">
  <div class="modal-box flex flex-col">
    <div class="flex flex-row">
      <label for="friendUsername" class="input flex-6">
        Kullanıcı adı:
        <input name="friend_username" type="text" id="friendUsername" />
      </label>
      <button
        type="submit"
        hx-post="/profile/friendship-request/"
        hx-include="#friendUsername"
        hx-swap="none"
        class="btn btn-ghost flex-1"
      >
        ekle
      </button>
    </div>
    <span class="text-error" id="friendRequestError"></span>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
