{%load lucide%}
<li class="grow">
  <div class="flex flex-row">
    <a
      href="/channel/{{item.server.id}}/{{item.id}}/"
      class="absolute inset-0 flex grow text-base font-medium"
      hx-get="/channel/{{item.server.id}}/{{item.id}}/"
      hx-target="#messageList"
      hx-swap="innerHTML"
      hx-push-url="true"
    >
    </a>
    {{item.name}}
    <button
      class="btn btn-ghost btn-circle dropdown ml-auto flex h-7 w-7"
      hx-trigger="click consume"
      popovertarget="channelsettingspopover{{item.id}}"
      style="anchor-name: --channelsettingspopbutton{{item.id}}"
    >
      {% lucide "ellipsis-vertical" %}
    </button>
    <span
      class="dropdown bg-reverse color-reverse -z-10 flex flex-col items-center p-2 shadow-sm"
      popover
      id="channelsettingspopover{{item.id}}"
      style="position-anchor: --channelsettingspopbutton{{item.id}}; position-area: bottom"
      ><form
        method="post"
        action="/channel/{{current_server.id}}/{{item.id}}/delete/"
      >
        {% csrf_token %}
        <button class="btn btn-ghost">{% lucide "trash" %}</button>
      </form>
      <form>
        <button class="btn btn-ghost">{% lucide "square-pen" %}</button>
      </form>
    </span>
  </div>
</li>
