{%load lucide%} {% load static %}
<dialog id="incomingCallModal" class="modal">
  <div class="modal-box max-w-48">
    <div class="flex flex-col">
      <span class="mx-auto"
        >Gelen çağrı: <span id="callerUsername"></span>
      </span>
      <div class="avatar mx-auto">
        <div class="w-24 rounded-full">
          <img
            id="callerAvatar"
            src="/media/stand.png"
            alt=""
            class="object-cover"
          />
        </div>
      </div>

      <div class="mt-3 flex flex-row justify-around">
        <button id="incomingCallAccept" class="btn btn-success btn-circle">
          {% lucide "phone" %}
        </button>
        <button id="incomingCallReject" class="btn btn-error btn-circle">
          {% lucide "phone" class="rotate-135" %}
        </button>
      </div>
    </div>
  </div>
  <audio id="ring" loop hidden src="{% static 'audio/ring.mp3' %}"></audio>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
