<dialog id="newServerModal" class="modal">
  <div class="modal-box">
    <div class="tabs tabs-border">
      <input
        type="radio"
        name="servermodaloption"
        class="tab"
        aria-label="Sunucu oluştur"
      />
      <div class="tab-content">
        <form
          action="/createserver/"
          method="post"
          hx-post="/createserver/"
          hx-target="#newServerModalButton"
          hx-swap="beforebegin"
          hx-on:htmx:after-request='document.getElementById("newServerModal").close()'
        >
          <label for="serverName" class="input mt-2">
            Sunucu adı:
            <input
              id="serverName"
              name="{{ server_form.name.html_name }}"
              type="text"
            />
          </label>
          <button type="submit" class="btn btn-ghost">Ekle</button>
        </form>
      </div>
      <input
        type="radio"
        name="servermodaloption"
        class="tab"
        aria-label="Sunucuya katıl"
        checked
      />
      <div class="tab-content">
        <form
          action="/joinserver/"
          method="post"
          hx-post="/joinserver/"
          hx-target="#newServerModalButton"
          hx-swap="beforebegin"
          hx-on:htmx:after-request='document.getElementById("newServerModal").close()'
        >
          <label for="invite" class="input mt-2">
            Davet kodu:
            <input id="invite" name="invite" type="text" />
          </label>
          <button type="submit" class="btn btn-ghost">Katıl</button>
        </form>
      </div>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
